<div class="container-fluid">

	<div class="row">
		<div class="col text-center key-col">
			<button id="1" data-key-code="49" class="key">1</button>
			<button id="2" data-key-code="50" class="key">2</button>
			<button id="3" data-key-code="51" class="key">3</button>
			<button id="4" data-key-code="52" class="key">4</button>
			<button id="5" data-key-code="53" class="key">5</button>
			<button id="6" data-key-code="54" class="key">6</button>
			<button id="7" data-key-code="55" class="key">7</button>
			<button id="8" data-key-code="56" class="key">8</button>
			<button id="9" data-key-code="57" class="key">9</button>
			<button id="0" data-key-code="48" class="key">0</button>
		</div>
	</div>
	
</div>





