<div class="container">

	<div class="row">
		<div class="col text-center">
			<h1>Sound Kit</h1>
		</div>
	</div>

	<div class="row">
		<div class="col text-center">
			<button id="1" data-key-code="49" class="btn btn-default">1</button>
			<button id="2" data-key-code="50" class="btn btn-default">2</button>
			<button id="3" data-key-code="51" class="btn btn-default">3</button>
			<button id="4" data-key-code="52" class="btn btn-default">4</button>
			<button id="5" data-key-code="53" class="btn btn-default">5</button>
			<button id="6" data-key-code="54" class="btn btn-default">6</button>
			<button id="7" data-key-code="55" class="btn btn-default">7</button>
			<button id="8" data-key-code="56" class="btn btn-default">8</button>
			<button id="9" data-key-code="57" class="btn btn-default">9</button>
			<button id="0" data-key-code="48" class="btn btn-default">0</button>
		</div>
	</div>
</div>





