// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: url(headphones.jpg) no-repeat center center fixed;
	background-size: cover;
}

.key-col{
	margin-top: 200px;
}

.key {
	height: 70px;
	width: 70px;
	margin: 20px;
	border-style: solid;
	border-color: white;
  border-width: 2px;
  border-radius: 5px;
  background-color: transparent;
  color: red;
}

.playing {
  transform: scale(1.2);
  border-color: red;
  box-shadow: 0 0 1rem red;
  transition: all 0.1s ease;
}